html,body{
  background-color: #7fb893;
}

.App{
  margin: 0 auto;
  margin-top: 60px;
}

.columna-izquierda {
  margin-left: 50px;
  width: 40%;
  float: left;
  
}

.columna-derecha {
  width: 40%;
  margin-right: 50px;
  float: right;
  display: flex;  
  
}

.datos-personales {
  width: 760px;
  height: 340px ; 
  margin: 10px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.09); 
  border-radius: 15px;
  position: relative;
  flex-direction: column; 
}

.grupo-texto {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 10px;
}


.nom {
  margin-left: 132px;
  width: 180px;
  padding: 10px;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}



.imagen-pizza{ 
    position: absolute;
    left: 0;  
    height: 300px;
    width: 300px;
    margin-left: 0px;
    border-radius: 15px;
}



/*Para el select de tamaños*/
.Select{
margin-left: 130px;
padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #fff; 
  width: 200px; 
  cursor: pointer; 
}

.Select option {
  padding: 10px; 
  font-size: 16px; 
}


/*Para cajas ingredientes*/
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
  margin-left: 30px;
  margin-top: 5px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px; 
}


.checkbox-container input[type="checkbox"] {    
   width: 20px; 
   height: 20px; 
   background-color: #fff; 
   border: 2px solid #ccc; 
   border-radius: 3px; 
   cursor: pointer; 
  
}


.checkbox-container label {

  color: #333; 
  font-size: 16px;
  
}

.btn_end{
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4d4d; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 90px;
  margin-bottom: 10px;
}

/* Estilos para el footer */
.footer {
  background-color: #333; /* Color de fondo del footer */
  color: white; /* Color del texto en el footer */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto al centro */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 97.9%;
  background-color: #333;
  color: white;
  text-align: center;

}

/* Estilos para los párrafos dentro del footer */
.footer p {
  margin: 5px 0; /* Margen en la parte superior e inferior de los párrafos */
}
